// Use the gear_dropdown.png screenshot as a style guide

#gear-dropdown {
  right: 130px;
  top: 40px;
  position: absolute;
  border: 1px solid $light-gray;
  color: $dark-gray;
  font-family: $sans-serif;
  z-index: 1;
  background-color: white;
  width: 200px;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
  // text-align: center;
}

#gear-dropdown li {
  position: relative;
  padding: 7px;
}

.dropdown-subtitle {
  font-weight: bold;
  font-size: 12px;
  padding: 7px;
}


.help {
  color: $light-blue;
}

.editions li:hover {
  background-color: $light-gray;
}

.help a:hover {
  text-decoration: underline;
}

.editions {
  border-bottom: 2px solid $light-gray;
}
